doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans")
    link(rel="stylesheet" type="text/css" href="static/css/app.css")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    title E-Mart
  body
    nav(class="navbar navbar-expand-sm navbar-light bg-warning")
      a(class="navbar-brand" href="/home")
        i(class="fab fa-sellcast" style="font-size:40px")
      if !!user
        div(class="collapse navbar-collapse")
          if user.id !== 'admin'
            ul(class="navbar-nav")
              li(class="nav-item")
                a(class="nav-link" href="/shop") Shop
              li(class="nav-item")
                a(class="nav-link" href="/cart") Cart
        a(type="button" class="btn btn-secondary" href="/logout") Logout
    div(class="container mt-4")
      block content
    script(src="static/js/main.js")